@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');


* {
    font-family: 'Inter', sans-serif;
}

.nav-bar {
    background-color: #fff;
    position: sticky;
    z-index: 9999;
    display: flex;
    padding: 0.8rem;
    padding-right: 8rem;
}

.navLeft, .navRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLeft {
    gap: 20px;
}

.nav-bar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-bar i {
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}

.navCenter {
    flex: 6;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #444;
    font-weight: 400;
}

li a:hover {
    transition: 0.6s;
    color: rgb(96, 39, 210);
}

.Search-icon {
    margin-left: 15px;
}
